## Initial exploratory analysis

In [1]:
## importing libraries
import pandas as pd
import numpy as np
import geopy.distance 
from dateutil.relativedelta import relativedelta
from datetime import datetime
import os

## Here we set the directory to look up the folder containing the data
os.chdir("/Users/gabrielmedeiros/Documents/OneDrive/Business analytics/DATA_445_Machine_Learning")


## Reading csv file, index_col = 0 makes the first column of the data to become the index of our pandas data frame
test_data = pd.read_csv('fraudTest.csv', index_col = 0)

train_data = pd.read_csv('fraudTrain.csv', index_col = 0)

/opt/anaconda3/lib/python3.8/site-packages/numpy/lib/arraysetops.py:583: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

## Head of Train data

In [2]:
print(train_data.shape)
train_data.head()

(1296675, 22)

,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,Moravian Falls,...,36.0788,-81.1781,3495,"Psychologist, counselling",1988-03-09,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0
1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,Orient,...,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0
2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,Malad City,...,42.1808,-112.2620,4154,Nature conservation officer,1962-01-19,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481,0
3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,Boulder,...,46.2306,-112.1138,1939,Patent attorney,1967-01-12,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071,0
4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,Doe Hill,...,38.4207,-79.4629,99,Dance movement psychotherapist,1986-03-28,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459,0

## Head of Test Data

In [4]:
print(test_data.shape)
test_data.head()

(555719, 22)

,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,2020-06-21 12:14:25,2291163933867244,fraud_Kirlin and Sons,personal_care,2.86,Jeff,Elliott,M,351 Darlene Green,Columbia,...,33.9659,-80.9355,333497,Mechanical engineer,1968-03-19,2da90c7d74bd46a0caf3777415b3ebd3,1371816865,33.986391,-81.200714,0
1,2020-06-21 12:14:33,3573030041201292,fraud_Sporer-Keebler,personal_care,29.84,Joanne,Williams,F,3638 Marsh Union,Altonah,...,40.3207,-110.4360,302,"Sales professional, IT",1990-01-17,324cc204407e99f51b0d6ca0055005e7,1371816873,39.450498,-109.960431,0
2,2020-06-21 12:14:53,3598215285024754,"fraud_Swaniawski, Nitzsche and Welch",health_fitness,41.28,Ashley,Lopez,F,9333 Valentine Point,Bellmore,...,40.6729,-73.5365,34496,"Librarian, public",1970-10-21,c81755dbbbea9d5c77f094348a7579be,1371816893,40.495810,-74.196111,0
3,2020-06-21 12:15:15,3591919803438423,fraud_Haley Group,misc_pos,60.05,Brian,Williams,M,32941 Krystal Mill Apt. 552,Titusville,...,28.5697,-80.8191,54767,Set designer,1987-07-25,2159175b9efe66dc301f149d3d5abf8c,1371816915,28.812398,-80.883061,0
4,2020-06-21 12:15:17,3526826139003047,fraud_Johnston-Casper,travel,3.19,Nathan,Massey,M,5783 Evan Roads Apt. 465,Falmouth,...,44.2529,-85.0170,1126,Furniture designer,1955-07-06,57ff021bd3f328f8738bb535c302a31b,1371816917,44.959148,-85.884734,0

## Feature Engineering

#### Distance

In [5]:
## Here assign to n the amount of observations we have in the dataset
n = test_data.shape[0]

## Creating empty list to store the reuslts
distance_to_append = []

## Looping through each row an computing the distance between ?????????
for i in range(0,n):
    
    ## Here we gather the lat and long from the ?????
    coords_1 = (test_data['lat'][i], test_data['long'][i])
    
    ## Here we gather the lat and long from the ?????
    coords_2 = (test_data['merch_lat'][i], test_data['merch_long'][i])
    
    ## Here we compute the disance in miles between the locations
    distance_to_append.append(geopy.distance.geodesic(coords_1, coords_2).miles)

## Adding results to our data set
test_data['Distance'] = distance_to_append

In [6]:
## Visualizing the results
test_data['Distance'].head()

0    15.294273
1    65.140855
2    36.788154
3    17.159238
4    64.885553
Name: Distance, dtype: float64

#### Age

In [8]:
## Creating empty list to store the resutls
ages_to_append = []

## Looping through each observation and computing the age of each individual from its DOB
for i in range(0,n):
    
    ## Here we add the last date of this year
    year_of_2021 = datetime.strptime('2021-12-31', "%Y-%m-%d")
    
    ## Here we call each DOB in the dataset
    dob = datetime.strptime(test_data.dob[i], "%Y-%m-%d")
    
    ## Here we compute the ages
    ages_to_append.append(relativedelta(year_of_2021, dob).years)

## Adding results to our data set
test_data['Age'] = ages_to_append

In [9]:
## Visualizing the results
test_data['Age'].head()

0    53
1    31
2    51
3    34
4    66
Name: Age, dtype: int64

#### Day of the week

In [10]:
dates = pd.to_datetime(test_data['trans_date_trans_time'])
test_data['DayOfWeek'] = dates.dt.day_name()

In [11]:
test_data['DayOfWeek'].head()

0    Sunday
1    Sunday
2    Sunday
3    Sunday
4    Sunday
Name: DayOfWeek, dtype: object

#### Month of the year

In [12]:
months = pd.to_datetime(test_data['trans_date_trans_time'])
test_data['Month'] = dates.dt.month

#### Hour of the day

In [13]:
hour_of_the_day = []

for i in range(0,n):
    hour_of_the_day.append(datetime.strptime(test_data.trans_date_trans_time[i] ,"%Y-%m-%d %H:%M:%S").hour)
    
test_data['HourOfTheDay'] = hour_of_the_day

In [14]:
test_data['HourOfTheDay'].head()

0    12
1    12
2    12
3    12
4    12
Name: HourOfTheDay, dtype: int64

#### Generating unique ID

In [16]:
test_data['cc_num'].value_counts()

6538441737335434       1474
4586810168620942       1466
4745996322265          1462
4587657402165341815    1458
2242542703101233       1428
                       ...
4087542780207162          9
4883407061576             9
3540416671210051          8
4352307151555405069       7
4295296907373             6
Name: cc_num, Length: 924, dtype: int64

In [17]:
Uses = pd.DataFrame(test_data['cc_num'].value_counts())

Uses['cc_number2'] = Uses.index

Uses = Uses.reset_index(drop = True)

Uses.columns = ['TotalUses','cc_num']

test_data = Uses.merge(test_data, on = 'cc_num', how = 'left')

In [18]:
test_data.head()

,TotalUses,cc_num,trans_date_trans_time,merchant,category,amt,first,last,gender,street,...,trans_num,unix_time,merch_lat,merch_long,is_fraud,Distance,Age,DayOfWeek,Month,HourOfTheDay
0,1474,6538441737335434,2020-06-21 12:20:13,fraud_Prosacco LLC,personal_care,5.71,Gina,Grimes,F,444 Robert Mews,...,2d7640ea4f3bcd520a3c33200c393dd8,1371817213,40.508064,-79.615158,0,67.240018,24,Sunday,6,12
1,1474,6538441737335434,2020-06-21 12:58:07,fraud_Upton PLC,entertainment,48.05,Gina,Grimes,F,444 Robert Mews,...,abc1f238e28693cfe3728856b2aba429,1371819487,41.928491,-80.004966,0,38.522465,24,Sunday,6,12
2,1474,6538441737335434,2020-06-21 13:09:39,"fraud_Little, Gutmann and Lynch",shopping_net,28.94,Gina,Grimes,F,444 Robert Mews,...,88c4b3f91b1381005e54ecf64d47074c,1371820179,41.990632,-79.263948,0,62.996683,24,Sunday,6,13
3,1474,6538441737335434,2020-06-21 17:07:12,fraud_Hilpert-Conroy,kids_pets,13.11,Gina,Grimes,F,444 Robert Mews,...,166bee6c0e7fd842b6eb81da5c12a6f0,1371834432,41.047152,-79.903460,0,27.283292,24,Sunday,6,17
4,1474,6538441737335434,2020-06-21 17:20:32,fraud_Thompson-Gleason,health_fitness,2.53,Gina,Grimes,F,444 Robert Mews,...,a3b45b42a2f2d4bf3672b0602985832b,1371835232,40.483045,-80.850283,0,71.572094,24,Sunday,6,17

In [64]:
test_data.groupby('cc_num')['Month'].value_counts()

cc_num               Month
60416207185          10       678
60422928733          10       669
60423098130          12       228
60427851591          12       215
60487002085          12       239
                             ...
4958589671582726883  10       715
4973530368125489546  12       427
4980323467523543940  12       204
4989847570577635369  12       464
4992346398065154184  9        863
Name: Month, Length: 930, dtype: int64

In [67]:
test_data.groupby('cc_num')['DayOfWeek'].value_counts()

cc_num               DayOfWeek
60416207185          Tuesday      156
                     Monday       132
                     Sunday       100
                     Friday        84
                     Saturday      79
                                 ...
4992346398065154184  Sunday       139
                     Friday        99
                     Saturday      99
                     Thursday      84
                     Wednesday     71
Name: DayOfWeek, Length: 6387, dtype: int64

In [68]:
test_data.groupby('cc_num')['HourOfTheDay'].value_counts()

cc_num               HourOfTheDay
60416207185          21              59
                     12              43
                     17              42
                     13              41
                     16              41
                                     ..
4992346398065154184  21              33
                     23              33
                     7               32
                     0               28
                     11              27
Name: HourOfTheDay, Length: 21862, dtype: int64

In [69]:
test_data.groupby('cc_num')['Distance'].mean()

cc_num
60416207185            45.272277
60422928733            48.877257
60423098130            49.139031
60427851591            47.827485
60487002085            49.268812
                         ...
4958589671582726883    47.400251
4973530368125489546    48.326195
4980323467523543940    43.445894
4989847570577635369    47.186455
4992346398065154184    47.424892
Name: Distances, Length: 924, dtype: float64

In [21]:
## Here we export the file containing all of the new feature to a csv file. 
test_data.to_csv ("/Users/gabrielmedeiros/Documents/OneDrive/Business analytics/DATA_445_Machine_Learning/FraudTestData.csv", index = None, header=True)

#### Should we perform some modeling tests on a data set with the engineered features, and a few tests in the data set without the engineered features?